.*
/docs/docker
/scripts/docker
/docs/vim
/scripts/vim
/docs/DDD
/scripts/DDD
/docs/python
/scripts/python
/docs/ElasticSearch
/scripts/ElasticSearch
/docs/shell
/scripts/shell

/commands/docker
/commands/vim
/commands/DDD
/commands/python
/commands/ElasticSearch
/commands/shell